@use "../global.scss" as *;

.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-black;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}

.cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr;
  text-align: center;
  gap: 32px;

  @media (max-width: 390px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  p {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
  }
}
